body {
	font-family: consolas;
	background-color: #3a3b3c;
	color: white;
}
h1{
	font-weight: bold;
	font-size: 90px;
	margin: 50px;
}
.para {
	margin-left: 50px;
   	margin-right: 50px;
   	font-weight: bold;
   	font-size: 30px;
}
.foot {
	padding: 50px;
	font-weight: bold;
}